<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ChAdminP">

	<resultMap type="ChAdminP" id="chAdminPMap">
		<id column="ch_admin_p_idx" property="ch_admin_p_idx"/>
		        <association 
                        column="bud_idx"
                        javaType="Bud"
                        property="bud"
                        select="Bud.select">
     		   </association>
     		   <association 
                        column="challenge_idx"
                        javaType="Challenge"
                        property="challenge"
                        select="ChallengeType.select">
     		   </association>
	</resultMap>

	<select id="selectAll" resultMap="chAdminPMap">
		select * from ch_admin_p order by ch_admin_p_idx desc
	</select>
	
	<select id="select"  parameterType="int">
		select * from ch_admin_p 
		where ch_admin_p_idx=#{ch_admin_p_idx}
	</select>
	
	<insert id="insert" parameterType="ChAdminP">
		insert into ch_admin_p (ch_admin_p_idx, bud_idx, challenge.challenge_idx)
		values(seq_ch_admin_p.nextval, #{ch_admin_p_idx},#{bud_idx},#{challenge.challenge_idx})
	</insert>

	<update id="update" parameterType="ChAdminP">
		update ch_admin_p set ch_admin_p_idx=#{ch_admin_p_idx}
		, bud_idx=#{bud_idx}
		, challenge.challenge_idx=#{challenge.challenge_idx}
		where ch_admin_p_idx=#{ch_admin_p_idx}
	</update>

	<delete id="delete" parameterType="int">
		delete from ch_admin_p where ch_admin_p_idx=#{ch_admin_p_idx}
	</delete>
</mapper>


