<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PhotoStatus">

	<select id="selectAll" resultType="PhotoStatus">
		select * from photo_status
	</select>

	<select id="select" resultType="PhotoStatus" parameterType="int">
		select * from photo_status where photo_status_idx=#{photo_status_idx}
	</select>

</mapper>